


.Game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position-x: center;
  }


img {
  filter: drop-shadow(8px 8px 16px black)
}
.Game__location {
  font-family: 'Bangers', cursive;
  color: aliceblue;
  text-align: center;
  text-shadow: 5px 5px 8px #000000, 0 0 1em #3f0249, 0 0 0.2em #af04b25e;
  font-size: 48px;
  margin-bottom: 3px;
}

.Game__character {
  min-height: 80px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.Game__toolbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
 
}

.Game__toolbar-restart {
  cursor: pointer;
  background-color: #2a1b3d;
  border-radius: 25%;
  padding: 5px 7px 7px 5px;
  height: 60px;
    width: 60px;
  
}
.Game__character {
  flex-basis: 60%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*phone*/
@media (max-width: 600px) {
     .media {
          background-color: rgb(255, 55, 0)
     }
     .board--charlie {
          display: none;
     }
}
/*tablet*/
@media (min-width: 601px) and (max-width: 1024px) {
  
     .media {
          background-color: rgb(238, 255, 0)
     }
     body {
      orientation : landscape;
     }
     }

/*monitor*/
@media (min-width: 1025px) and (max-width: 1920px) {
     .media {
          background-color: rgb(13, 255, 0)
     }
    
    .Game__toolbar {
      flex-basis: 10%;
    }
    .Game__location {
      flex-basis: 10%;
      font-size: 48px;
      text-shadow: 8px 8px 24px #000000, 0 0 1em #3f0249, 0 0 0.2em #af04b25e;
    }
    .Game__character {
      flex-basis: 60%;
    }
   
    
    .Game__toolbar-restart {
     padding: 8px;
     height: 64px;
     width: 64px;
   }
   img {
     height: 100%;
     width: 100%;
     object-fit: contain;
   }
   .HappinessMetre {
     height: 64px;
     width: 64px;
 }
 .Conversation__text {
   font-size: 24px;
   text-shadow: 8px 8px 16px #edecec, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;
}

.Conversation {
 padding: 40px;
 margin: 0 38px 38px 38px;
 border: 16px solid #2a1b3d;
 box-shadow: 24px 24px 16px #c009585e;
 border-radius: 148px;
 flex-basis: 30%;
}


.Conversation__button-arrow {
   right: 32px;
   bottom: 180px;
   width: 128px;
   height: 128px;
   border: 16px rgb(11, 11, 11) solid;
}

li {
 color: #591978;
 font-family: 'VT323', monospace;
 font-size: 20px;
}
}
 
 
/*super monitor*/
@media (min-width: 1920px)  {
     .media {
          background-color: rgb(0, 38, 255)
     }
     .Game__toolbar {
       flex-basis: 10%;
     }
     .Game__location {
       flex-basis: 10%;
       font-size: 124px;
       text-shadow: 8px 8px 24px #000000, 0 0 1em #3f0249, 0 0 0.2em #af04b25e;
     }
     .Game__character {
      flex-basis: 60%;
    }

     
     .Game__toolbar-restart {
      padding: 24px;
      height: 96px;
      width: 96px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    .HappinessMetre {
      height: 96px;
      width: 96px;
  }
  .Conversation__text {
    font-size: 36px;
    text-shadow: 8px 8px 16px #edecec, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;
}

.Conversation {
  padding: 48px;
  margin: 0 38px 38px 38px;
  border: 24px solid #2a1b3d;
  box-shadow: 24px 24px 16px #c009585e;
  border-radius: 148px;
}


.Conversation__button-arrow {
    right: 48px;
    bottom: 180px;
    width: 160px;
    height: 160px;
    border: 16px rgb(11, 11, 11) solid;
}

li {
  color: #591978;
  font-family: 'VT323', monospace;
  font-size: 24px;
}
}