


.Game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position-x: center;
  }


img {
  filter: drop-shadow(8px 8px 16px black)
}

img:hover {
    transform: scaleX(-1);
  }

.Game__location {
  font-family: 'Bangers', cursive;
  color: aliceblue;
  text-align: center;
  text-shadow: 5px 5px 8px #000000, 0 0 1em #3f0249, 0 0 0.2em #af04b25e;
  font-size: 48px;
  margin-bottom: 3px;
}

.Game__character {
  min-height: 80px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.Game__toolbar {
  display: flex;
  justify-content: space-between;
  padding: 8px;
 
}

.Conversation {
  box-shadow: 0 0 5px #fff, 0 0 10px #3f349399, 0 0 20px #3f349399, 0 0 40px #2c132c, 0 0 80px #591978, 0 0 90px #992fc5, 0 0 100px #dcb6ea, 0 0 150px #1204b2;
}
.Game__toolbar-restart {
  cursor: pointer;
  background-color: #2a1b3d;
  border-radius: 25%;
  padding: 4px 8px 8px 4px;
  height: 48px;
    width: 48px;
  
}
.Game__character {
  flex-basis: 60%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*phone*/
@media (max-width: 600px) {
     .media {
          background-color: rgb(255, 55, 0)
     }
     .board--charlie {
          display: none;
     }
}
/*tablet*/
@media (min-width: 601px) and (max-width: 1024px) {
  
     .media {
          background-color: rgb(238, 255, 0)
     }
     .Conversation__quiz-option {
    border: 2px solid #2a1b3d;
     }
     
     li {
      font-size: 16px;
    }
    .Game__location {
      font-size: 64px;}
      
    .Game__toolbar {
    padding: 24px;
}

  .Conversation__text {
    font-size: 24px; }
 
  .Conversation {
  border: 8px solid #2a1b3d;
  border-radius: 120px;
}

  .Game__toolbar-restart {
    padding: 8px;
    height: 64px;
    width: 64px;
  }

  .HappinessMetre {
    height: 64px;
    width: 64px;
}
.Conversation__button-arrow {
  position: fixed;
  bottom: 24%;
  right: 8px;
  width: 88px;
height: 88px;
}
}

/*monitor*/
@media (min-width: 1025px) and (max-width: 1920px) {
     .media {
          background-color: rgb(13, 255, 0)
     }
    
    .Game__toolbar {
      flex-basis: 10%;
    }
    .Game__location {
      flex-basis: 10%;
      font-size: 48px;
      text-shadow: 8px 8px 24px #000000, 0 0 1em #3f0249, 0 0 0.2em #af04b25e;
    }
    .Game__character {
      flex-basis: 60%;
    }
   
    
    .Game__toolbar-restart {
     padding: 8px;
     height: 64px;
     width: 64px;
   }
   img {
     height: 100%;
     width: 100%;
     object-fit: contain;
   }
   .HappinessMetre {
     height: 88px;
     width: 88px;
 }
 .Conversation__text {
   font-size: 32px;
   text-shadow: 8px 8px 16px #edecec, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;
}

.Conversation {
 padding: 40px;
 margin: 0 38px 38px 38px;
 border: 16px solid #2a1b3d;
 border-radius: 200px;
 flex-basis: 30%;
}


.Conversation__button-arrow {
   right: 16px;
   bottom: 112px;
   width: 96px;
   height: 96px;
   border: 8px rgb(11, 11, 11) solid;
}

li {
 font-size: 20px;
}
}
 
 
/*super monitor*/
@media (min-width: 1920px)  {
     .media {
          background-color: rgb(0, 38, 255)
     }
     .Game__toolbar {
       flex-basis: 10%;
     }
     .Game__location {
       flex-basis: 10%;
       font-size: 124px;
       text-shadow: 8px 8px 24px #000000, 0 0 1em #3f0249, 0 0 0.2em #af04b25e;
     }
     .Game__character {
      flex-basis: 60%;
    }

     
     .Game__toolbar-restart {
      padding: 24px;
      height: 96px;
      width: 96px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    .HappinessMetre {
      height: 96px;
      width: 96px;
  }
  .Conversation__text {
    font-size: 48px;
    text-shadow: 8px 8px 16px #edecec, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;
}

.Conversation {
  padding: 48px;
  margin: 0 38px 38px 38px;
  border: 24px solid #2a1b3d;

  border-radius: 200px;
}


.Conversation__button-arrow {
    right: 48px;
    bottom: 96px;
    width: 160px;
    height: 160px;
    border: 16px rgb(11, 11, 11) solid;
}

.Conversation__quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:8px;
}

.Conversation__quiz-option {
  background: linear-gradient(30deg,#2a1b3dd8, #f8f3f4);
  cursor: pointer;
  border: 8px solid #2a1b3d;
  border-radius: 80px;
  text-shadow: 8px 8px 16px #edecec, 0 0 1em #edecec, 0 0 0.2em #f4eef45e;
  margin-bottom: 4px;
}
li {
  font-size: 48px;
  padding: 8px;
}
.Game__toolbar-restart {
  padding: 8px;
  height: 64px;
  width: 64px;
}

.HappinessMetre {
  height: 144px;
  width: 144px;
}
}