.Game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
 
  background-size: cover;
}

img {
  filter: drop-shadow(8px 8px 16px black)
}
.Game__location {
  font-family: 'Bangers', cursive;
  color: aliceblue;
  text-align: center;
  text-shadow: 5px 5px 8px #000000, 0 0 1em #3f0249, 0 0 0.2em #af04b25e;
  font-size: 48px;
  margin-bottom: 10px;
}

.Game__character {
  min-height: 80px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.Game__toolbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
 
}

.Game__toolbar-restart {
  cursor: pointer;
  background-color: #2a1b3d;
  border-radius: 25%;
  padding: 5px;
  
}


/*phone*/
@media (max-width: 600px) {
     .media {
          background-color: rgb(255, 55, 0)
     }
     .board--charlie {
          display: none;
     }
}
/*tablet*/
@media (min-width: 601px) and (max-width: 1024px) {
  
     .media {
          background-color: rgb(238, 255, 0)
     }
     
     }

/*monitor*/
@media (min-width: 1025px) and (max-width: 1920px) {
     .media {
          background-color: rgb(13, 255, 0)
     }
     
     
     }
 
 
/*super monitor*/
@media (min-width: 1920px)  {
     .media {
          background-color: rgb(0, 38, 255)
     }
     .Game__toolbar {
       flex-basis: 10%;
     }
     .Game__location {
       flex-basis: 15%;
       font-size: 124px;
       text-shadow: 8px 8px 24px #000000, 0 0 1em #3f0249, 0 0 0.2em #af04b25e;
     }
     .Game__character {
       flex-basis: 33%;
     }
     .Conversation {
       flex-basis: 38%;
     
     }
     
     .Game__toolbar-restart {
      padding: 24px;
      height: 124px;
      width: 124px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    .HappinessMetre {
      animation: taadaa 3s infinite;
      animation-direction: alternate;
      height: 124px;
      width: 124px;
  }
  .Conversation__text {
    font-size: 80px;
    text-shadow: 8px 8px 16px #edecec, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;
}

.Conversation {
  padding: 48px;
  margin: 64px;
  border: 24px solid #2a1b3d;
  box-shadow: 24px 24px 16px #c009585e;
  border-radius: 148px;
}


.Conversation__button-arrow {
    right: 48px;
    bottom: 180px;
    width: 160px;
    height: 160px;
    border: 16px rgb(11, 11, 11) solid;
}

li {
  color: #591978;
  font-family: 'VT323', monospace;
  font-size: 56px;
}
img {
  filter: drop-shadow(16px 16px 24px black);
 
}
}