*
{
     box-sizing: border-box;
     padding: 0%;
     margin: 0%;
}
/*intro*/
body {
     
    height: 100vh;
    max-height: 100vh;
     background-image: url(img/train.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     display: flex;
     flex-direction: column;
    
}


h3 {
     font-family: 'Bangers', cursive;
     color: aliceblue;
     text-shadow: 1px 1px 2px #000000, 0 0 1em #3f0249, 0 0 0.2em #af04b25e;
     font-size: 64px;
     margin-bottom: 10px;
}
/*
p {
     color: #591978;
     text-shadow: #000000;
     font-family: 'VT323', monospace;
     font-size: 24px;
      text-shadow: 1px 1px 2px #edecec, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;

}
*/
/*menu*/
.menu {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.navigation__day {
     font-family: 'Press Start 2P', cursive;
     color:white;
     text-shadow: #000000;
     text-shadow: 1px 1px 2px #edecec, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;
     font-size: 18px;
}

.menu--navigation {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.menu--location {
     justify-content: center;
}
.dialog--heart {
     background-image: url(img/HeartBar/HeartStage2.png);
     height: 50px;
     width: 50px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}

.dialog {
     background-color:#D9D9D9;
     border-radius: 25px;
     padding: 5%;
     margin: 0 5% 5% 5%;
     border: 10px solid #2a1b3d;
     border-radius: 80px;
     box-shadow: 10px 10px 5px #c009585e;
 }
 
 .board {
      display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-end;
     padding-top: 10%;
 }
.board {
     height: 500px;
}

.board--charlie {
     width: 100%;
     height: 100%;
     background-image: url(img/chibi/Charlie_neutral.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
 }

/*button wit arrow*/
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.dialog--container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
     height: 100px;
     align-items: flex-end;
    
    
}

.container__avatar {
     width: 50px;
	height: 100px;
	box-sizing: border-box;
	border: 5px rgb(11, 11, 11) solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 5s ease-in-out infinite;
     background-image: url(img/right-arrow.png);
     filter: invert(100%);
	background-size: cover;
	background-color: #591978;
	background-position: center;
}

.conatiner__content {
	
	padding-top: 50px;

}
/*tooltip*/
.avatar2 {
     position: relative;
     color:#591978
}

.avatar2::before,
.avatar2::after {
     --scale: 0;
     position: absolute;
     top:- 1rem;
     left: 50%;
     transform: translateX(-50%) translateY(-100%) scale(var(--scale));
}

.avatar2::before {
    padding: 0.5rem;
    max-width: max-content;
     background-color:rgb(243, 245, 247);
     content: attr(data-tooltip);
     color: #3f0249;
     max-width: 100%;
     border-radius: 25%;
     text-align: center;font-family: 'Bangers', cursive;
}

.avatar2:hover::before 
{
     --scale: 1;
}

.icon__img {
     box-shadow : 1px 1px 2px #edecec, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;
     background-color: #591978;
     border-radius: 25%;
     padding: 5px;
}

.media {
     height: 30px;
}
/*phone*/
@media (min-width: 360px) and (max-width: 600px) {
   

     .media {
          background-color: rgb(255, 55, 0)
     }
}
/*tablet*/
@media (min-width: 601px) and (max-width: 1024px) {
  
     .media {
          background-color: rgb(238, 255, 0)
     }
 }

/*monitor*/
@media (min-width: 1024px) and (max-width: 1920px) {
     .media {
          background-color: rgb(13, 255, 0)
     }
     
     
     }
 
 
/*super monitor*/
@media (min-width: 1920px)  {
     .media {
          background-color: rgb(0, 38, 255)
     }
     
 }