*
{
     box-sizing: border-box;
     padding: 0%;
     margin: 0%;
}
/*heroes*/

body {
     background-image: url(img/japanglish.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0px 20px 0px 20px;
}

h1 {
     font-family: 'Bangers', cursive;
     color: aliceblue;
     text-shadow: 5px 5px 8px #000000, 0 0 1em #3f0249, 0 0 0.2em #af04b25e;
     font-size: 64px;
     margin-bottom: 10px;
}

p {
     color: #591978;
     text-shadow: #000000;
     font-family: 'VT323', monospace;
     font-size: 24px;
      text-shadow: 1px 1px 2px #edecec, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;
}

.title{

     padding-top: 20px;
}
.heroes {
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
}

.heroes--char {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.char {
     display: flex;
     flex-direction: column;
}
.char__img {
     width: 40px;
     height: 80px;
     background-repeat: no-repeat;
     background-position: left;
     background-size: contain;
     border-radius: 10px;
     padding: 3%;
     margin: 1%;
     border: 10px solid #2a1b3d;
     border-radius: 80px;
     box-shadow: 10px 10px 5px #c009585e;
}

#charlie--img {
     background-image: url(../../src/img/chibi/Charlie_neutral.png);
}

#hanako--img {
     background-image: url(../../src/img/chibi/Hanako_neutral.png);
   
}

/*button wit arrow*/
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


.media {
     height: 30px;
}
/*phone*/
@media  (max-width: 600px) {

     .media {
          background-color: rgb(255, 55, 0)
     }
     .char__img {
          width: 40px;
          height: 80px;
          background-repeat: no-repeat;
          background-position: left;
          background-size: contain;
          border-radius: 10px;
          padding: 3%;
          margin: 3%;
          border: 3px solid #2a1b3d;
     }
}
/*tablet*/
@media (min-width: 601px) and (max-width: 1024px) {

     .media {
          background-color: rgb(238, 255, 0)
     }
 }

/*monitor*/
@media (min-width: 1024px) and (max-width: 1920px) {
     .heroes {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
     }.container {
          height: 150px;
          align-items: flex-end; 
          justify-content: center;
     }
     .avatar {
          width: 100px;
          height: 200px;
          box-sizing: border-box;
          border: 10px rgb(11, 11, 11) solid;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0 15px 25px 0px rgba(0,0,0,0.6);
     }
     .media {
          background-color: rgb(13, 255, 0)
}

.char {
     display: flex;
     flex-direction: row;
}
     }
 
 
/*super monitor*/
@media (min-width: 1920px)  {
     h1 {
          font-size: 140px;
     }
     body {
          padding: 5%;
     }
     .heroes {
          display: flex;
          flex-direction: row;
     }.container {
          height: 150px;
          align-items: flex-end; 
     }
     .char {
          display: flex;
          flex-direction: row;
     }
     .avatar {
          width: 100px;
          height: 200px;
          box-sizing: border-box;
          border: 10px rgb(11, 11, 11) solid;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0 15px 25px 0px rgba(0,0,0,0.6);
     }
     .media {
          background-color: rgb(0, 38, 255)
     }
     .heroes {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center; 
}
     p {
          font-size: 50px;
     }

     .char__img {
          width: 200px;
          height: 250px;
     }

     h5 {
          font-size: 56px;
     }
     .parpadea {
          font-size: 64px;
      }
}