html {
  display: block;
}
body{
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.header {
  margin:0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #000000;
  padding-top: 24px;
}
.title__text {
  font-family: 'Bangers', cursive;
  color: aliceblue;
  text-shadow: 8px 8px 16px #dbd4d4, 0 0 1em #3f0249, 0 0 0.2em #af04b25e;
  font-size: 40px;
  margin-bottom: 8px;
}
.HappinessHeart {
  background-image: url(/public/happinessMetre/heart100.png);
  background-size: cover;
  width: 40px;
  height: 40px;
}

.credits {
display: flex;
flex-direction: column;
background-color: #000000;
padding-bottom: 32px;
}

#credits--bubble {
  margin-bottom: 8px;
  box-shadow: none;
}
/* crdits--persons*/
h2 {
  font-family: 'Bangers', cursive;
  color: #D9D9D9;
    text-shadow: #000000;
    font-size: 24px;
    text-shadow: 1px 1px 2px #060505, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;
}
h3{
  font-family: 'Bangers', cursive;
  color:#3f0249;
    font-size: 16px;
    text-shadow: 1px 1px 2px #f6f3f3, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;
}

h4 {
  font-family: 'VT323', monospace;
  color: aliceblue;
  font-size: 24px;
  text-shadow: 8px 8px 16px #090909, 0 0 1em #792f79, 0 0 0.2em #1101115e;
}

h7 {
  font-family: 'VT323', monospace;
  color: aliceblue;
  font-size: 16px;
  text-shadow: 1px 1px 2px #090909, 0 0 1em #792f79, 0 0 0.2em #1101115e;
}

.credits--persons {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/public/background/cityNight.jpg);
  animation-name: dayNight;
  animation-duration: 3s;
  width: 100%;
  margin-bottom: 8px;
}

@keyframes dayNight {
  0%   {background-image: url(/public/background/cityDay.jpg)}
  100%  {background-image: url(/public/background//cityNight.jpg)}
}

.persons--div {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__people {
  display: flex;
  flex-direction: row;
  margin: 8px;
  gap: 16px;
  align-items: center;

}
.Credits {
  color: violet;
}

.facebook, .linkedin, .github {
  width: 32px;
  height: 32px;
  filter: invert(100%);
  background-size: cover;
}

.facebook {
  background-image: url(/public/icons/facebook.png);
  filter: invert(100%);
}

.linkedin {
  background-image: url(/public/icons/linkedin.png);
}

.github {
  background-image: url(/public/icons/github.png);
}

.credits--contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact--title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content--personal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.personal__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.name__icon {
  display:flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
h6 {
  color: #f6f3f3;
  font-size: 16px;
}


.name__nick {
  text-shadow:
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff,
  0 0 100px #0ff,
  0 0 150px #0ff;
  font-size: 16px;
}
