html {
min-height: 100%;
min-width: 100%;
display: flex;
flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
a {
  margin: 0%;
}
.header {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 24px;
}
.title__text {
  font-family: 'Bangers', cursive;
  color: aliceblue;
  text-shadow: 8px 8px 16px #dbd4d4, 0 0 1em #3f0249, 0 0 0.2em #af04b25e;
  font-size: 40px;
  margin-bottom: 8px;
}
.HappinessHeart {
  background-size: cover;
  width: 40px;
  height: 56px;
}

#HappinessHeart1 {
  background-image: url(/public/chibi/Charlie_happy.png);
}

#HappinessHeart2 {
  background-image: url(/public/chibi/Hanako_happy.png);
}
.credits {
  display: flex;
  flex-direction: column;
  background-color: #5f3493db;
  padding-bottom: 32px;
  box-shadow:0 0 5px #fff, 0 0 10px #3f349399, 0 0 20px #3f349399, 0 0 40px #2c132c, 0 0 80px #591978, 0 0 90px #992fc5, 0 0 100px #dcb6ea, 0 0 150px #1204b2;
font-size: 16px;
}

#credits--bubble {
  margin-bottom: 8px;
  box-shadow: none;
}
/* credits--persons*/
h2 {
  font-family: 'Bangers', cursive;
  color: #d9d9d9;
  text-shadow: #000000;
  font-size: 24px;
  text-shadow: 1px 1px 2px #060505, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;
}
h3 {
  font-family: 'Bangers', cursive;
  color: #3f0249;
  font-size: 16px;
  text-shadow: 1px 1px 2px #f6f3f3, 0 0 1em #792f79, 0 0 0.2em #f4eef45e;
  padding-bottom: 8px;
}

h4 {
  font-family: 'VT323', monospace;
  color: aliceblue;
  font-size: 24px;
  text-shadow: 8px 8px 16px #090909, 0 0 1em #792f79, 0 0 0.2em #1101115e;
}

h7 {
  font-family: 'VT323', monospace;
  color: aliceblue;
  font-size: 16px;
  text-shadow: 1px 1px 2px #090909, 0 0 1em #792f79, 0 0 0.2em #1101115e;
}

.credits--persons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/public/background/cityNight.jpg);
  animation-name: dayNight;
  animation-duration: 8s;
  animation-iteration-count: 5;
  animation-direction: alternate-reverse; 
  width: 100%;
  margin-bottom: 8px;
}

@keyframes dayNight {
  0% {
    background-image: url(/public/background/cityDay.jpg);
  }
  100% {
    background-image: url(/public/background//cityNight.jpg);
  }
}

.persons--div {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__people {
  display: flex;
  flex-direction: row;
  margin: 8px;
  gap: 16px;
  align-items: center;
}

#credits--bubble {
    margin-bottom: 0%;
    text-align: center;
}
.facebook,
.linkedin,
.github {
  width: 32px;
  height: 32px;
  filter: invert(100%);
  background-size: cover;
}

.facebook {
  background-image: url(/public/icons/facebook.png);
  filter: invert(100%);
}

.linkedin {
  background-image: url(/public/icons/linkedin.png);
}

.github {
  background-image: url(/public/icons/github.png);
}

.credits--contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact--title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact--content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.content--personal {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
.personal__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.name__icon {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  filter: drop-shadow(16px 16px 32px black)
}
h6 {
  color: #f6f3f3;
  font-size: 16px;
}

.personal__name {
  font-family: 'VT323', monospace;
  text-shadow:0 0 5px rgb(11 11 11), 0 0 10px rgb(11 11 11), 0 0 20px #2a1b3d, 0 0 40px #3f0249, 0 0 80px #ff00d9, 0 0 90px #ff00fe, 0 0 100px #0ff, 0 0 150px #0ff;;
  font-size: 40px;
  font-weight: lighter;
  text-transform: uppercase;
}

/*phone*/
@media (max-width: 600px) {
 
  .media {
    background-color: rgb(255, 55, 0);
  }

}
/*tablet*/
@media (min-width: 601px) and (max-width: 1024px) {
  #credits__title {
  font-size: 80px;
 }

 .HappinessHeart {
  background-size: contain;
  width: 72px;
  height: 88px;
 }
 h2 {
  font-size: 48px;
 }

 h3 {
  font-size: 32px;
 }

 h4 {
  font-size: 48px;
 }
 h6 {
  font-size: 40px;
 }

 h7 {
  font-size: 40px;
 }

 .facebook, .linkedin, .github {
   width: 48px;
   height: 48px;
 }

 #credits--bubble {
   padding: 40px;
 }
  .media {
    background-color: rgb(238, 255, 0);
  }

  .credits--persons {
    background-size: cover;
  } 
  .credits--persons {
    margin: 16px 0 16px 0;
  }

  .contact--title {
    margin-bottom: 16px;
  }
  .credit__paragraf {
    font-size: 32px;
  }
 
}

/*monitor*/
@media (min-width: 1024px) and (max-width: 1920px) {
  .media {
    background-color: rgb(13, 255, 0);
}
.header {
  justify-content: space-evenly;
}
.title__text {
  font-size: 48px;
    margin-bottom: 24px;
}
.HappinessHeart {
  background-size: cover;
  width: 56px;
  height: 88px;
  background-repeat: no-repeat}

  #credits--bubble {
    margin: 8px 112px;
    padding: 24px;
  }
  .credit__paragraf {
    font-size: 16px;
  }
  h2 {
    font-size: 32px;
   }
  
   h3 {
    font-size: 24px;
   }
  
   h4 {
    font-size: 32px;
   }
   h6 {
    font-size: 32px;
   }
  
   h7 {
    font-size: 24px;
   }
.credits--persons {
background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

.facebook, .linkedin, .github {
  width: 48px;
  height: 48px;
}

}

/*super monitor*/
@media (min-width: 1920px) {

  .header {
    justify-content: space-evenly;
  }
  .title__text {
    font-size: 64px;
      margin-bottom: 24px;
  }
  .HappinessHeart {
    background-size: cover;
    width: 56px;
    height: 88px;
    background-repeat: no-repeat}
  
    #credits--bubble {
      margin: 8px 128px;
      padding: 24px;
      border: 8px solid #2a1b3d;
    }
    .credit__paragraf {
      font-size: 16px;
    }
    h2 {
      font-size: 40px;
     }
    
     h3 {
      font-size: 32px;
     }
    
     h4 {
      font-size: 40px;
     }
     h6 {
      font-size: 40px;
     }
    
     h7 {
      font-size: 32px;
     }
  .credits--persons {
  background-size: 100%;
      background-position: top;
      background-repeat: no-repeat;
  }
  
  .facebook, .linkedin, .github {
    width: 48px;
    height: 48px;
  }

  #HappinessHeart2 {
   
    background-image: url(/public/chibi/Hanako_happy.png);
    position: relative;
    animation-name: runHanako;
    position: relative;
    animation-delay: 4s;
  animation-duration: 12s;  
  animation-fill-mode: forwards; }
  
  @keyframes runHanako {
    0% {right: 0px;}
    20% {right: 240px; background-image: url(/public/chibi/Hanako_excited.png)}
    40% {right: 240px; background-image: url(/public/chibi/Hanako_angry.png); transform: none}
    100% { right:240px;background-image: url(/public/chibi/Hanako_surprised.png);transform: none }
   
  }

  #HappinessHeart1 {
   
    background-image: url(/public/chibi/Charlie_happy.png);
    position: relative;
    animation-name: runCharlie;
    position: relative;
    animation-delay: 8s;
  animation-duration: 12s;  
  animation-fill-mode: forwards; }
  
  @keyframes runCharlie {
    0% {left: 0px;}
    20% {left: 240px; background-image: url(/public/chibi/Charlie_excited.png)}
    40% {left: 240px; background-image: url(/public/chibi/Charlie_angry.png); transform: none}
    100% { left:240px;background-image: url(/public/chibi/Charlie_surprised.png);transform: none }
   
  }
}


