body{
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 100vh;
}
.header {
  margin:0%;
  display: flex;
  flex-direction: column;
}

.HappinessHeart {
  background-image: url(/public/happinessMetre/heart100.png);
  background-size: cover;
  width: 48px;
  height: 48px;
}

#HappinessHeart1 {
  display:none;
}
.Credits {
  color: violet;
}
